.featured-projects {
    background-color: #f7f7f7;

    &__content {
        display: flex;
        flex-direction: column;

        align-items: center;

        row-gap: 50px;
    }

    &__projects-block {
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));

        gap: 16px;

        // columns: 3 375px;
        // column-gap: 16px;
    }
}
