@use "../base/typography";

// #hero {
//     background-color: #ece7e4;
// }

.hero {
    background-color: #ece7e4;

    &__text {
        max-width: 600px;

        display: flex;
        flex-direction: column;

        padding: 60px 50px 40px 40px;
    }

    &__pg {
        @include typography.poppins--16px;

        line-height: 24px;
        letter-spacing: 0;

        color: #403e3b;

        margin-top: 18px;
    }

    &__button-link {
        margin-top: 30px;
    }

    &__img {
        //* NOTHING
    }
}
