.meet-our-team {
    &__text-block {
        display: flex;
        flex-direction: column;

        row-gap: 30px;
    }

    &__team-icons-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        row-gap: 36px;
        column-gap: 120px;
    }
}
