#reeding-house {
    height: 600px;

    background: url("../assets/images/reeding_house/background.png");

    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
