#the-marble-staircase {
    height: 600px;

    background: url("../assets/images/the_marble_staircase/background.png");

    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
