/**========================================================================
 **                            COLORS
 *========================================================================**/

$color_1B1A1A: #1b1a1a;
$color_645C55: #645c55;
$color_403E3B: #403e3b;
$color_FFFFFF: #fff;
$color_CEC4BC: #cec4bc;
$color_F7F7F7: #f7f7f7;
$color_ECE7E4: #ece7e4;
