@use "variables";

/**========================================================================
 **                            ONLINE FONTS
 *========================================================================**/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/**========================================================================
 **                            OFFLINE FONTS
 *========================================================================**/
