@use "../base/typography";

.block-header {
    display: flex;
    flex-direction: column;

    &__header {
    }

    &__tagline {
        @include typography.poppins--14px;

        line-height: 20px;
        letter-spacing: 2px;

        color: #645c55;

        text-transform: uppercase;
    }

    &--hero {
        row-gap: 20px;

        .block-header__header {
            @include typography.poppins--64px;

            line-height: 70px;
            letter-spacing: 0;

            color: #1b1a1a;
        }

        // .block-header__tagline {
        //     @include typography.poppins--64px;

        //     line-height: 70px;
        //     letter-spacing: 0;

        //     color: #1b1a1a;
        // }
    }

    &--our-firm {
        @include typography.poppins--32px;

        line-height: 38px;
        letter-spacing: 0;

        color: #403e3b;

        display: inline;

        min-width: fit-content;
        height: auto;
    }

    &--house-and-staircase {
        max-width: 285px;

        .block-header__header {
            @include typography.poppins--14px;

            line-height: 20px;
            letter-spacing: 2px;

            color: #403e3b;

            text-transform: uppercase;
        }

        .block-header__pg {
            @include typography.poppins--16px;

            line-height: 24px;
            letter-spacing: 0;

            color: #645c55;
        }
    }

    &--our-process {
        text-align: center;
        row-gap: 14px;

        .block-header__header {
            @include typography.poppins--40px;

            line-height: 42px;
            letter-spacing: 0;

            color: #1b1a1a;
        }
    }

    &--get-in-touch {
        max-width: 570px;
        text-align: left;

        .block-header__header {
            @include typography.poppins--40px;

            line-height: 42px;
            letter-spacing: 0;

            color: #1b1a1a;
        }
    }

    &--prior-clients {
        text-align: left;

        .block-header__header {
            @include typography.poppins--32px;

            line-height: 38px;
            letter-spacing: 0;

            color: #fff;
        }

        .block-header__tagline {
            color: #ece7e4;
        }
    }
}
