@use "../base/typography";

.card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: start;

    text-align: center;

    &__img {
        transition: transform 0.3s ease-in-out;
        will-change: transform;

        transform: translateZ(0);
        backface-visibility: hidden;
    }

    &__header {
        @include typography.poppins--18px;

        line-height: 26px;
        letter-spacing: 0;

        color: #403e3b;

        margin-top: 15px;
    }

    &__pg {
        @include typography.poppins--16px;

        line-height: 24px;
        letter-spacing: 0;

        color: #645c55;

        margin-top: 10px;

        max-width: 300px;
    }

    &:hover {
        .card__img {
            transform: scale(1.05);
        }
    }
}
