.logo {
    display: inline-flex;

    width: auto;
    height: fit-content;

    padding: 16px;

    &__img {
        aspect-ratio: 220 / 19;

        width: auto;
        height: auto;
    }

    & {
        transition: transform 0.3s ease-in-out;

        transform: translateZ(0);
        will-change: transform;

        backface-visibility: hidden;
    }

    &:hover {
        transform: scale(1.025);
    }

    &:active {
        transform: scale(1.0125);
    }

    &--footer {
        padding: 0;

        .logo__img {
            width: 256px;
        }
    }
}
