@use "../base/typography";

.navigation {
    display: flex;
    column-gap: 32px;

    align-items: center;

    &__menu {
        display: flex;
        column-gap: 32px;
    }

    &__menu-item {
        @include typography.poppins--16px;

        transition: transform 0.3s ease-in-out;

        transform: translateZ(0);
        will-change: transform;

        backface-visibility: hidden;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(1.025);
        }
    }

    &__menu-link {
        &:hover {
            text-decoration: underline;
        }
    }

    &__button-link {
        //* NOTHING
    }
}
