@use "../base/typography";

.team-member {
    display: flex;
    column-gap: 30px;

    align-items: center;

    cursor: pointer;

    transition: transform 0.3s ease-in-out;
    will-change: transform;

    transform: translateZ(0);
    backface-visibility: hidden;

    transform-origin: 0 0;

    &:hover {
        transform: scale(1.025);
    }

    &:active {
        transform: scale(1.0125);
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__full-name {
        @include typography.poppins--18px;

        line-height: 26px;
        letter-spacing: 0;

        color: #1b1a1a;
    }

    &__work-position {
        @include typography.poppins--14px;

        line-height: 14px;
        letter-spacing: 0;

        color: #645c55;
    }

    &--meet-our-team {
        transform-origin: 50% 50%;
    }
}
