/**========================================================================
 **                            WRAPPER STYLES
 *========================================================================**/

// @mixin base-wrapper {
//     margin: 0 auto;
//     height: auto;
//     width: auto;
// }

.wrapper {
    margin: 0 auto;
    height: auto;
    width: auto;

    &--header {
        max-width: 1200px;

        display: flex;
        justify-content: space-between;

        padding: 20px;
    }

    &--hero {
        max-width: 1440px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 0 0 60px;
    }

    &--our-firm {
        max-width: 768px;

        display: flex;
        justify-content: space-between;
        align-items: start;

        // padding: 0 0 0 60px;
        padding: 100px 0;
    }

    &--reeding-house-and-marble-staircase {
        max-width: 1440px;

        display: flex;
        justify-content: end;
        align-items: center;

        // padding: 0 0 0 60px;
        padding: 266px 60px;
    }

    &--swirling-staircase {
        max-width: 1440px;

        display: flex;
        justify-content: start;
        align-items: center;

        // padding: 0 0 0 60px;
        padding: 266px 60px;
    }

    &--our-process {
        max-width: 1168px;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        row-gap: 40px;

        // padding: 0 0 0 60px;
        padding: 100px 0;
    }

    &--prior-clients {
        max-width: 1168px;

        display: flex;

        justify-content: space-between;
        align-items: center;

        // padding: 0 0 0 60px;
        padding: 100px 0;
    }

    &--get-in-touch {
        max-width: 1168px;

        display: flex;

        justify-content: space-between;
        align-items: center;

        // padding: 0 0 0 60px;
        padding: 100px 0;
    }

    &--featured-projects {
        max-width: 1200px;

        display: flex;
        flex-direction: column;

        row-gap: 42px;

        // padding: 0 0 0 60px;
        padding: 120px 16px 100px 16px;
    }

    // &--1168px {
    //     max-width: 1168px;
    // }

    // &--1440px {
    //     max-width: 1440px;
    // }
}

// .wrapper {
//     margin: 0 auto;
//     height: auto;
//     width: auto;

//     max-width: 1440px;

//     &--ph120 {
//         padding: 120px 0;
//     }

//     &--ph60 {
//         padding: 60px 0;
//     }

//     &--ph336 {
//         padding: 336px 0;
//     }
// }
