/**========================================================================
 **                            WRAPPER STYLES
 *========================================================================**/

// @mixin base-wrapper {
//     margin: 0 auto;
//     height: auto;
//     width: auto;
// }

.wrapper {
    margin: 0 auto;
    height: auto;
    width: auto;

    &--1168px {
        max-width: 1168px;
    }

    &--1200px {
        max-width: 1200px;

        display: flex;
        justify-content: space-between;

        padding: 20px;
    }

    &--1440px {
        max-width: 1440px;
    }
}

// .wrapper {
//     margin: 0 auto;
//     height: auto;
//     width: auto;

//     max-width: 1440px;

//     &--ph120 {
//         padding: 120px 0;
//     }

//     &--ph60 {
//         padding: 60px 0;
//     }

//     &--ph336 {
//         padding: 336px 0;
//     }
// }
